@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special: #f7e296;
  --special-green: #91c92f;
  --status: #f6dada;
  }

/* Global*/

.pade-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
  }
.main-header {
  background: #f7e296;
}
input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #7e7e7e;
}
.search:hover::placeholder {
  color: #464646;
}
.search:focus::placeholder {
  color: #000000;
}
.search-button {
  background: #f7e296;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.search-button:hover {
  background: #000000;
  color: #e5e5e5;
}
.search-button:active {
  background: #000000;
  color: #e5e5e5;
  opacity: 0.3;
}

.list-nav {
  text-decoration: none;
  list-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.list-nav:hover {
  color: #464646;
}
.list-nav:focus {
  color: #7e7e7e;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.site-navigation a:hover {
  color: #000000;
  opacity: 0.6;
}
.site-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}
.quadrocopter h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}
.quadrocopter p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.effect:hover {
  border-style: solid;
  border-color: #f0c52e;
  background: #f0c52e;
}
.effect:active {
  border-style: solid;
  border-color: #f0c52e;
  background: #f0c52e;
  color: #000000;
  opacity: 0.3;
}
.button {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.features{
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}
.features dt {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
}
.features dd {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}
.list-of-products {
  list-style: none;
}
.product-button {
  text-decoration: none;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}
.product-button:hover {
  color: #000000;
}
.product-button:active {
  color: #000000;
  opacity: 0.3;
}
.services {
  list-style: none;
}
.services a {
  text-decoration: none;
}
.services-button {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.services-button:hover {
  border-style: solid;
  border-color: #f0c52e;
  background: #f0c52e;
}
.services-button:active {
  border-style: solid;
  border-color: #000000;
  background: #000000;
  color: #f7e296;
}
.delivery-warranty-credit {
  background: #e5e5e5;
}
.delivery-warranty-credit h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}
.delivery-warranty-credit p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000000;
}
.about-us h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}
.about-us p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000000;
}
.transport-companies a {
  text-decoration: none;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}
.map h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}
.map p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000000;
}
.main-footer {
  background: #363636;
 }

.footer-address p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
.footer-navigation {
  list-style: none;
}
.footer-navigation a {
  text-decoration: none;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-list-nav {
  list-style: none;
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-list-nav:hover {
  color: #ffffff;
}
.footer-list-nav:active {
  color: rgba(255, 255, 255, 0.3);
}
.bracelet h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}
.bracelet p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.selfie-stick h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}
.selfie-stick p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
/*Catalog*/
.container-catalog h1 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}
.bread-crumbs li {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  list-style: none;
}
.bread-crumbs a {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}
.bread-crumbs li:hover {
  color: #000000;
  opacity: 0.6;
}
.bread-crumbs li:active {
  color: #000000;
  opacity: 0.1;
}
.bread-crumbs a:hover {
  color: #000000;
  opacity: 0.6;
}
.bread-crumbs a:active {
  color: #000000;
  opacity: 0.1;
}
.filter h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.filter legend {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;
}
.filter label {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.colour legend {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;
}
.colour label {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.bluetooth legend {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;
}
.bluetooth label {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.sorting a {
  text-decoration: none;
}
.sorting h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.sorting li {
  list-style: none;
}
.sorting-price-type-popularity {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}
.sorting-price-type-popularity:hover {
  color: #000000;
  opacity: 0.6;
}
.sorting-price-type-popularity:active {
  color: #000000;
}
.add-to-comparison {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #000000;
  opacity: 0.5;
}
.add-to-comparison:hover {
  color: #000000;
}
.add-to-comparison:active {
  color: #000000;
  opacity: 0.2;
}
.product-cards h3 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}
.product-cards p {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #000000;
}
.back {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.one {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}
.one:hover {
  color: #000000;
  opacity: 0.6;
}
.one:active {
  color: #000000;
}
.two {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}
.two:hover {
  color: #000000;
  opacity: 0.6;
}
.two:active {
  color: #000000;
}
.three {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}
.three:hover {
  color: #000000;
  opacity: 0.6;
}
.three:active {
  color: #000000;
}

.forward {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
/* Grid */

.quadrocopter{
  display: grid;
  grid-template-columns: 1fr;
}
.bracelet{
  display: grid;
  grid-template-columns: 1fr;
}
.selfie-stick{
  display: grid;
  grid-template-columns: 1fr;
}
.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.information{
  display: grid;
  grid-template-columns: 417px 1fr;
}
.logos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
