@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special: #f7e296;
  --special-green: #91c92f;
  --status: #f6dada;
  }

/* Global*/

.pade-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

   }


.main-header .center {
  background:#f7e296;
  margin-top: 40px;
}
input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #7e7e7e;
}
.search:hover::placeholder {
  color: #464646;
}
.search:focus::placeholder {
  color: #000000;
}
.search-button {
  background: #f7e296;
  color: #000000;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}
.search-button:hover {
  background: #000000;
  color: #e5e5e5;
}
.search-button:active {
  background: #000000;
  color: #e5e5e5;
  opacity: 0.3;
}

.list-nav {
  text-decoration: none;
  list-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  padding-left: 15px;

}
.list-nav:hover {
  color: #464646;
}
.list-nav:focus {
  color: #7e7e7e;
}
.main-navigation .list-nav{
  position: relative;
}
.list-nav::before{
  position: absolute;
  content: " ";
  top: 5px;
  left: -2px;
  width: 9px;
  height: 10px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.list-nav1{
  padding-right: 250px;
  margin-left: 20px;
  text-decoration: none;
  list-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.list-nav1:hover {
  color: #464646;
}
.list-nav1:focus {
  color: #7e7e7e;
}
.main-navigation .list-nav4{
  position: relative;
}
.list-nav4::before{
  position: absolute;
  content: "";
  top: 5px;
  left: -20px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.list-nav4{
  padding-right: 30px;
  text-decoration: none;
  list-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.site-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 60px;
  padding-top: 50px;
  padding-right: 60px;
}
.site-navigation a {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.site-navigation a:hover {
  color: #000000;
  opacity: 0.6;
}
.site-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}
.quadrocopter h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}
.quadrocopter p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}






.effect:active {
  border-style: solid;
  border-color: #f0c52e;
  background: #f0c52e;
  color: #000000;
  opacity: 0.3;
}
.button {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  }
.features{
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}
.features dt {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
}
.features dd {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}


.services li {
 list-style: none;
 display: flex;
 min-width: 277px;
 margin: 0;



}

.services a {
  text-decoration: none;
}
.services a:hover{
  background-color: #f0c52e;
}
.services a:active{
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}
.services-button {

  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.delivery-warranty-credit h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}
.delivery-warranty-credit p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000000;
}

.logos li{
  list-style: none;
}

.about-us h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}
.about-us p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000000;
}
.transport-companies a {
  text-decoration: none;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  }

.map h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}
.map p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000000;
}
.main-footer{
  background: #363636;
 }

.footer-address p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}
.footer-navigation {
  list-style: none;
}
.footer-navigation a {
  text-decoration: none;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}
.footer_contacts li  {
  list-style: none;
}
.social-button1{
 text-decoration: none;
 padding-right: 20px;
}
.social-button2{
text-decoration: none;
}
.social-button3{
padding: 20px;
text-decoration: none;

}


.user-link {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.user-link:hover {
  color: #ffffff;
}
.user-link:active {
  color: rgba(255, 255, 255, 0.3);
}
.bracelet h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}
.bracelet p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.selfie-stick h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}
.selfie-stick p {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
/*Catalog*/
.container-catalog h1 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
  padding-left: 105px;
}

.bread-crumbs li {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
  list-style: none;
}

.bread-crumbs1 {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}


.filter h2 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.filter legend {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;
}
.filter label {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.colour legend {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;
}
.colour label {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}
.bluetooth legend {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;
}
.bluetooth label {
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.sorting a {
  text-decoration: none;
}
.sorting h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.sorting li {
  list-style: none;
}
.sorting-price-type-popularity {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}
.sorting-price-type-popularity:hover {
  color: #000000;
  opacity: 0.6;
}
.sorting-price-type-popularity:active {
  color: #000000;
}
.add-to-comparison {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #000000;
  opacity: 0.5;
}
.add-to-comparison:hover {
  color: #000000;
}
.add-to-comparison:active {
  color: #000000;
  opacity: 0.2;
}
.product-cards h3 {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}
.product-cards p {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #000000;
}
.back {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.one {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}
.one:hover {
  color: #000000;
  opacity: 0.6;
}
.one:active {
  color: #000000;
}
.two {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}
.two:hover {
  color: #000000;
  opacity: 0.6;
}
.two:active {
  color: #000000;
}
.three {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}
.three:hover {
  color: #000000;
  opacity: 0.6;
}
.three:active {
  color: #000000;
}

.forward {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.center{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding:20px;
}

/* Grid */

.quadrocopter{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 80px;
   }
.features{
  display: flex;
  flex-wrap: wrap;
}
.dd1{
margin: 0 auto;
margin-top: 15px;
}
.dt1{
  margin-left: 83px;
}
.button_slide{
  display: grid;
  grid-template-columns: 65% 1fr;
  margin-top: 60px;
  margin-bottom: 60px;
}
.slide{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #000000;
  box-sizing: border-box;
  background:  #ffffff;;
}

.list-of-products{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  column-gap: 40px;
  list-style: none;
}
.list-of-products a{
  text-decoration: none;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
}
.services-slider{
  display: grid;
  grid-template-columns: 40% 1fr;

}
.slider-center{
  background-color: #e5e5e5;
}
.list-of-logos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.about-us-map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 86px;

}
/*filter*/


.black-logo{
  display: block;
  margin: -40px 0 0 0;
  padding-left: 60px;
  padding-bottom: 30px;

}
.list-nav-main{
 display: grid;
 grid-template-columns: 50% 1fr;
}
.user-header{
display: flex;
justify-content: space-between;
padding-right: 60px;
flex-wrap: wrap;
}


.list-nav3{
  padding-right: 135px;
  text-decoration: none;
  list-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.form1 .search{
 padding-left:84px;
 position: relative;
}


.site-navigation{
 display: grid;
 grid-template-columns: 47% 13% 25.3% 1fr;
 margin: 0;
 padding: 0;
 padding-left: 60px;
 margin-top: 50px;
}


.user-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.user-login{
margin-right: 63px;
}
.user-login1{
  margin-right: 63px;
}
.user-compare{
margin-right: 62px;
}
.logo-address{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 64px;
}

.footer-end{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-address{
  max-width: 300px;
  padding-top: 40px;


}

.footer-navigation{
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  padding-top: 50px;
  }

.footer-delivery{
  margin-right: 36px ;
}
.footer-warranty{
  margin-right: 36px;
}
.footer-cont{
  margin-right: 46px;
}


.contacts-phone{
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  padding-top: 55px;
}
.footer_contacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 67px;

}
.footer-socials{
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  margin-left: 575px;
  margin-bottom: 40px;
}
.container-catalog .crumbs{
  position: relative;
}
.crumbs::after{
  position: absolute;
  content: "";
  width: 15px;
  height: 8px;
  right: -45px;
  top: 7px;
  background-image: url("../img/sign_more.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.bread-crumbs{
  display: grid;
  grid-template-columns: 10% 15% 15%;
  padding-left: 107px;
  padding-bottom: 50px;
}

.filter1{
  display: grid;
  grid-template-columns: 39% 1fr;


}
.filter{
    padding-top: 20px;
    padding-left:435px;
    background: #E5E5E5;
}


.filter a:hover{
  background-color: #f0c52e
}
.filter a:active{
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.cost{
  border: 0px;
  padding: 0;
  margin: 0;
  padding-bottom: 60px;
  height: 180px;
}

.cost-range{
  padding-top: 91px;
}

.cost .filter-line{
  position: relative;
}
.colour .filter-line{
  position: relative;
}
.bluetooth .filter-line{
  position: relative;
}
.filter-line::before{
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background: black;
  bottom: 33px;
}
.filter-item{
 padding-top: 39px;

}
.range-controls{
  position: relative;
  height: 41px;
  padding-right: 160px;
  border-radius: 5px;


}
.range-controls .toggle{
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color:#7e7e7e;
  border: 8px solid  #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}
.range-controls .toggle-min{
  left: 0px;
}
.range-controls .toggle-max{
  left: 110px;
}
.range-controls .scale{
  height: 2px;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
}
.price-controls label{
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.min-price{
padding-right: 69px;
position: relative;
bottom: 30px;
}
.max-price{
  position: relative;
  bottom: 30px;
}


.price-controls input{
  width: 0;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  color: #000000;
  font-family: initial;
  font-size: initial;
}
.range-controls .bar{
  width: 60%;
  height: 2px;
  background: #91C92F;;
}
.colour{
  border: 0px;
  display: block;
  height: 270px;
  padding: 0;
  margin: 0;
}

.colour-filter li{
  list-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  padding-top: 18px;
}
.colour-filter label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #000000 ;
}
.filter-input-checkbox:checked + label::after{
  content: "";
  position: absolute;
  top: 8px;
  left: -35px;
  width: 16px;
  height: 16px;
  background-image: url("../img/jackdaw.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio + label::before{
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #000000 ;
  border-radius: 50%;
}
.filter-input-radio:checked + label::after{
  content: "";
  position: absolute;
  top: 10px;
  left: -32px;
  width: 16px;
  height: 16px;
  background-image: url("../img/circle.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button1{
  padding-left: 55px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.bluetooth{
  border: 0px;
  list-style: none;
  height: 160px;
  padding: 0;
  margin: 0;

  }
.bluetooth ul{
 list-style: none;

}
.product-cards{
  display: grid;
  grid-template-columns:360px 360px;
  column-gap: 40px;
  padding-left: 72px;
}

.sort2{
  display: flex;
  padding-left: 40px;
  padding-right: 30px;


}
.sort3{
  display: flex;
  padding: 0;
  margin: 0;
  padding-left: 40px;
  padding-top: 9px;
}
.sort1{
  display: flex;
  background: #EBEBEB;
  margin-bottom: 69px;


}
.triangle{
 padding-left: 212px;
 padding-top: 15px;
 }
 .triangle1{
   padding-right: 23px;
 }

.sorting-price-type-popularity{
  padding-right: 30px;


}
.sorting-price-type-popularity1{
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}

.cards1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 align-items: center;
}
.forward-back{
  width: 720px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background: #EBEBEB;
  align-items: center;
  margin-left: 70px;
  padding-left: 20px;
  padding-right: 25px;
  margin-bottom: 75px;
  margin-top: 40px;


}
.bac{
font-family: "Gilroy";
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #000000;
}
.back-forward{
  width: 100px;
display: flex;
justify-content: space-between;
padding-right: 30px;
align-items: center;
}
.user-list .user-name{
  position: relative;
}
.user-name::before{
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 6px;
  left: -20px;
  background-image: url("../img/user-footer1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-name{
padding-right: 24px;
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.partners-logos{
  filter: grayscale(100%);
  opacity: 0.2;
}
.partners-logos:hover{
  filter: none;
  opacity: 1;
}

  .search::before{
    position: absolute;
    top: 8px;
    left: 60px;
    content: "";
    width: 13px;
    height: 13px;
    background-image: url("../img/magnifier.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
.main-navigation .list-nav1{
  position: relative;
}
.list-nav1::before{
  position: absolute;
  content: " ";
  top: 5px;
  left: -20px;
  width: 9px;
  height: 10px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-navigation .list-nav2{
  position: relative;
}
.list-nav2::before{
  position: absolute;
  content: "";
  top: 5px;
  left: -20px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}
.list-nav2{
  text-decoration: none;
  list-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}
.main-navigation .list-nav5{
  position: relative;
}
.list-nav5::before{
  position: absolute;
  content: "";
  top: 5px;
  left: -20px;
  width: 10px;
  height: 10px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.list-nav5{
  text-decoration: none;
  list-style: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.more-link{
  z-index: 1;
  padding: 8px 70px;
  position: relative;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.more-link::before{
  position: absolute;
  width:260px ;
  height: 8px;
  top: 15px;
  left: 0;
  content: "";
  z-index: -1;
  background-color: #f0c52e;
}
.more_detailed a:hover{
  background-color: #f0c52e;
}
 .more_detailed a:active{
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.categories-image {
  position: relative;
  display: block;
  margin-bottom: 33px;
  width: 160px;
  height: 160px;
  background: #F7E296;
}
.categories-image svg{
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top: 50%;
}
.categories-image:hover{
  background-color: #f0c52e;
}
.categories-image svg:active{
  background-color: #f0c52e;
  opacity: 0.3;
  }
.transparency:active{
  opacity: 0.3;
}
.more-link1{
  z-index: 1;
  padding: 9px 43px;
  position: relative;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.more-link1::before{
  position: absolute;
  width:260px ;
  height: 7px;
  top: 17px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  content: "";
  z-index: -1;
  background-color: #f0c52e;
}
.about-us a:hover{
  background-color: #f0c52e;
}
.about-us a:active{
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}
.more-link2{
  z-index: 1;
  padding: 8px 40px;
  position: relative;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;


}
.more-link2::before{
  position: absolute;
  width:200px ;
  height: 8px;
  top: 15px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  content: "";
  z-index: -1;
  background-color: #f0c52e;
}
.more-link2:hover{
  background-color: #f0c52e;
}
.more-link2:active{
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}
.map a:hover{
  background-color: #f0c52e;
}
.map a:active{
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}
.about-us-map .line-black{
  position: relative;
}
.line-black::before{
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  bottom: 110px;
  background-color:black;
}
.footer_contacts .line-yellow{
  position: relative;
}
.line-yellow::before{
  position: absolute;
  content: "";
  width: 80px;
  top: 13px;
  left: -575px;
  height: 7px;
  background-color: #f0c52e;
}

.user-list .user-login{
  position: relative;
}
.user-login::before{
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 6px;
  left: -20px;
  background-image: url("../img/user-footer1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-list .user-compare{
  position: relative;
}
.user-compare::before{
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 6px;
  left: -20px;
  background-image: url("../img/compare-footer2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.user-list .user-cart{
  position: relative;
}
.user-cart::before{
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 6px;
  left: -20px;
  background-image: url("../img/cart-footer3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*.jhgty{
  height:5.25%;
  background: linear-gradient(45deg,#DCDCDC,#DCDCDC)

}
*/
.dfdgd .add-to-car{
  position: relative;
  border: none;
  box-sizing: border-box;
  z-index: 1;
  padding: 8px 35px;
  width: 200px;
  height: 8px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.add-to-car::after{
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  top: 15px;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
}

